<p id="notice"><%= notice %></p>

<p class="lead">
  <span class="pink">Content:</span>
  <%= @notification.content %>
</p>

<%= admin_edit_btn edit_admin_notification_path(@notification) %>
<%= admin_back_btn admin_notifications_path %>
