<p id="notice"><%= notice %></p>

<p class="lead">
  <span class="pink">Name:</span>
  <%= @group.name %>
</p>

<%= admin_edit_btn edit_admin_group_path(@group) %>
<%= admin_back_btn admin_groups_path %>
