.admin-header {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: left;
  margin-bottom: 40px;
  position: relative;
  padding: 40px 15px;
  color: #ffffff;
  background-image: linear-gradient(to bottom,$brand-primary 0,lighten($brand-primary,20%) 100%);
  h1 { font-size: 60px; }
  small { color: #ffffff; }
}

.pointer-cursor {
  cursor:pointer;
}

h1.first:first-letter {
  color: darken($brand-primary, 10%);
}

span.pink {
  color: darken($brand-primary, 10%);
}

.alert {
  h2 {
    font-size: $font-size-large;
    margin-top: 0;
  }
  ul {
    margin-bottom: 0;
  }
}

.form-horizontal {
  .input-group[class*="col-"] {
    padding-right: 15px;
    padding-left: 15px;
  }
}