<!DOCTYPE html>
<html>
<head>
  <title>Admin - ActifQuest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
	<div class="admin-header">
		<div class="container">
  		<h1>Actif Quest <small>for Admin</small></h1>
  	</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="list-group">
  				<a href="#" class="list-group-item">展示一覧 <small>- 	Exhibition</small></a>
  				<a href="#" class="list-group-item">Dapibus ac facilisis in</a>
  				<a href="#" class="list-group-item">Morbi leo risus</a>
  				<a href="#" class="list-group-item">Porta ac consectetur ac</a>
  				<a href="#" class="list-group-item">Vestibulum at eros</a>
				</div>
			</div>
			<div class="col-md-9">
				<%= yield %>
			</div>
		</div>
	</div>

</body>
</html>
